# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

MIS_venv/

MIS/attendance\.json

MIS/Xpath_Attendance\.txt

MIS/MIS/spiders/creds\.ini

MIS/attendance2\.json

MIS/attendance\.csv

tree\.txt

MIS/MIS/test2\.py

MIS/MIS/test\.py

MIS/MIS/Notes\.txt

MIS/attendance_report\.json

data_utf8\.json

MIS/attendance_output\.json

MIS/test3\.py

MIS/test2\.py

MIS\.zip

MIS/old_report\.json

MIS/MIS/test3\.py

MIS/MIS/telegram_bot\.py

attendance_output\.json

MIS/Notes\.txt

MIS/spiders/creds\.ini

old_report\.json

MIS/spiders/test\.txt

test\.bat

*.json

*.ini

*.db

/misbot/
Untitled Diagram\.xml

venv/

scrapyd-client/

setup\.py

mis-bot/models\.bak\.py

*.png
