python-telegram-bot==11.1.0
Scrapy==1.4.0
scrapy-splash==0.7.2
SQLAlchemy==1.3.0
sympy==1.1.1
requests==2.20.0
Pillow==9.3.0
python-dotenv==0.10.1
https://github.com/sampritipanda/securimage_solver/archive/pip_package.zip
SQLAlchemy-Utils==0.33.11
mixpanel==4.5.0